@use '../util' as u;

.works-subscribe {
	background-color: var(--choose-bg);
	border-radius: 10px;

	&__wrapper {
		color: var(--light-cream-bg);
		text-align: center;
		margin-block-start: u.rem(120);
		padding-block: u.rem(80);

		@include u.breakpoint-up(medium) {
			margin-block-start: u.rem(144);
			text-align: left;
		}

		@include u.breakpoint-up(large) {
			margin-block-start: u.rem(168);
			padding-inline-start: u.rem(85);
		}
	}

	&__header {
		font-size: u.rem(24);
		line-height: 1.3;
		color: var(--grey);
		margin-block-end: u.rem(80);
	}

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: u.rem(56);

		@include u.breakpoint-up(medium) {
			flex-direction: row;
			align-items: flex-start;
			gap: 0;
			justify-content: space-between;
		}

		@include u.breakpoint-up(large) {
			justify-content: flex-start;
		}

		@include u.breakpoint-up(medium) {
			&::before {
				content: '';
				display: block;
				position: absolute;
				height: 2px;
				width: 59.5%;
				background-color: var(--pale-orange);
				margin-block-start: 12px;
				margin-inline-start: 30px;
				z-index: 0;
			}
		}

		@include u.breakpoint-up(large) {
			&::before {
				width: 54.5%;
				max-width: 620px;
			}
		}
	}

	&__steps {
		font-family: u.$font-title;
		font-size: u.rem(72);
		line-height: 1;
		color: var(--pale-orange);
	}

	&__title {
		margin-block: u.rem(24);
		font-size: u.rem(28);

		@include u.breakpoint-up(medium) {
			max-width: 10ch;
		}
	}

	&__content {
		margin: 0;

		@include u.breakpoint-up(medium) {
			padding-inline-end: u.rem(20);
			max-width: 36ch;
		}

		@include u.breakpoint-up(large) {
			padding-inline-end: u.rem(40);
		}
	}

	&__button {
		margin-block-start: u.rem(79);

		@include u.breakpoint-up(medium) {
			margin-block-start: u.rem(44);
		}

		@include u.breakpoint-up(large) {
			margin-block-start: u.rem(64);
		}
	}

	&__shapes {
		@include u.breakpoint-up(medium) {
			width: 31px;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: var(--choose-bg);
			border: 2px solid var(--dark-cyan);
			z-index: 1;
			margin-block-end: u.rem(48);
		}

		@include u.breakpoint-up(large) {
			margin-block-end: u.rem(67);
		}
	}
}
