:root {
	--light-cream-bg: hsl(43, 78%, 98%);
	--light-cream-bg-transparent: hsla(45, 80%, 98%, 0.5);
	--dark-cyan: hsl(179, 81%, 29%);
	--button-primary-bg-hover: hsl(178, 55%, 61%);
	--dark-grey-blue: hsl(215, 19%, 25%);
	--pale-orange: hsl(25, 94%, 86%);
	--grey: hsl(215, 5%, 54%);
	--choose-bg: hsl(213, 17%, 21%);
	--quality-bg: hsl(213, 17%, 21%);
	--footer-bg: hsl(213, 17%, 21%);
	--summary-bg: hsl(213, 17%, 21%);
	--options-bg: hsl(40, 29%, 94%);
	--options-hover: hsl(25, 94%, 86%);
	--options-selected: hsl(179, 81%, 29%);
	--order-num: hsl(215, 5%, 54%);
	--order-num-hover: hsl(215, 5%, 44%);
	--order-num-active: hsl(215, 5%, 34%);
	--bottom-border: hsl(215, 5%, 54%);
	--button-disabled-bg: hsl(26, 11%, 87%);
	--order-title-disabled: hsl(215, 5%, 70%);
}
